* {
    padding: 0;
    margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

body {
    /*height: 1800px;*/
    font-family: "Signika", sans-serif;
}

/*хедер*/

.header{
    height: 137px;
    background: url("../img/main-bg.jpg") repeat;
}
header .wrapper {
    height: 100%;
}

.logo {
    float: left;
    margin-top: 25px;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.transparency {
    background: url("../img/Present-Background.jpg") no-repeat 50% 85%;
    background-size: cover;
}

.header-menu {
    float: right;
    position: relative;
    height: 100%;
}

.buttons i {
    margin-right: 5px;
}

.buttons {
    text-align: right;
    color: #fff;
    border-radius: 0 0 5px 5px;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
}

.header-nav {
    margin: 33px 10px 0 0;
}

.header-nav li {
    /*margin-left: 54px;*/
    float: left;
    display: block;
}
.header-nav .create {
    margin: 0 42px 0 66px;
}
#nav-toggle {
    display: none;
    width: 28px;
    height: 30px;
    margin: 10px auto;
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
}

#nav-toggle div {
    width: 100%;
    height: 5px;
    background: rgb(27, 117, 186);
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#nav-toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#nav-toggle.on .two {
    opacity: 0;
}

#nav-toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}

.butt {
    background: rgb(27, 117, 186);
    padding: 7px 12px 3px;
    display: inline-block;
    cursor: pointer;
}

.button-one {
    border-radius: 0 0 0 5px;
    margin-right: -4px;
}

.button-two {
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-radius: 0 0 5px 0px;
}

a{
    font-family: "Signika", sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: rgb(27, 117, 186);
    text-transform: uppercase;
}
.header-nav a:hover{
     text-decoration: none;
 }
.header-nav a:focus{
    text-decoration: none;
    color: rgb(27, 117, 186);
}


/*контент*/

.chose-presents {
    background: url("../img/main-bg.jpg") repeat;
    float: left;
    border-radius: 3px;
    margin: 40px 0 202px;
    padding: 30px 33px 29px 30px;
    width: 59.4%;
}

.my-presents {
    float: right;
    background:url("../img/Background-wishlist.png") repeat-y;

    /*background: url("../img/logo-f.png") no-repeat 50% 88%,*/
    /*url("../img/Background-wishlist.png") repeat-y;*/

    border-radius: 5px;
    text-align: center;
    margin-top: 41px;
    width: 37.1%;
    /*padding-right: 10px;*/
}

/*перший блок*/
.caption {
    font-family: "Signika", sans-serif;
    font-size: 50px;
    color: rgb(217, 54, 85);
    line-height: 1.2;
    /*margin: 5px 45px;*/
    text-align: center;
    margin-bottom: 12px;
}

.chose-presents .btn-lg {
    padding: 2px 10px 4px 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: rgb(217, 54, 85);
    border: none;
    margin-left: 4px;
    line-height: 1;
}
.button-back .btn-info:hover {
    background: rgb(27, 117, 186);
    transition: all 1s ease;
}
.glyphicon {
    /*margin-left: -5px;*/
    font-size: 14px;
    margin-right: 3px;
}
.button-back .back{
    font-size: 16px;
    font-family: "Signika", sans-serif;
}
.chose-presents .line {
    height: 1px;
    background: rgba(0, 0, 0, .1);
    margin: 13px 0;
}

.chose-presents .line-two {
    margin: 9px 0 10px 0;
}
.line-three{
    height: 2px;
    margin-top: 10px;
    width: 100%;
}

.chose-presents .step {
    font-size: 20px;
    font-family: "Signika", sans-serif;
    color: rgb(159, 158, 158);
    margin-left: 25%;
}

.chose-presents .description span{
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    color: rgb(143, 143, 143);
    line-height: 1.2;
    text-align: left;
}

.search {
    position: relative;
}

.search input {
    font-family: "Ubuntu", sans-serif;
    padding: 8px 0 6px 10px;
    font-size: 22px;
    color: rgb(132, 132, 132);
    /*line-height: 1.2;*/
    border-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 20px 0;
    width: 100%;
    background: url("../img/search2.png") repeat;

}

.search .fa-search {
    position: absolute;
    top: 33px;
    right: 16px;
    font-size: 26px;
    color: rgb(132, 132, 132);
}

/*список презентів*/

.chose-presents .presents {
    overflow-y: scroll;
    height: 651px;
    width: 104%;
    /*margin-right: -20px;*/

}

.presents p {
    font-family: "Signika", sans-serif;
    font-size: 14px;
    color: rgb(27, 117, 186);
    margin: 9px 0 0 2px;
    line-height: 1.2;
}

.block-p {
    float: left;
    margin: 0 3.1% 3.2% 0;
    width: 30%;
    cursor: pointer;
    position: relative;
    padding: 1%;
}

.presents img {
    width: 100%;
    height: 152px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.img1 > img {
    box-shadow: none;
}

.block-p .price {
    color: rgb(217, 54, 85);
    margin-top: 2px;
}

.chose-presents .description-last .des-p {
    font-family: "Ubuntu", sans-serif;
    color: rgb(143, 143, 143);
    line-height: 1.2;
    text-align: center;
    font-size: 14px;
    margin: 19px 0 0 0;
}

/*другий блок*/
.block2-header {
    position: relative;
    background: url("../img/base.png") repeat;
    border-radius: 3px 3px 0 0;
    padding: 15px 40px;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.share, .pencil {
    position: absolute;
    border: 1px ridge rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: #ffffff;
    top: 5px;
    padding: 5px 8px;
    cursor: pointer;
}
.share:hover,
.pencil:hover,
.save-share span:hover{
    background: #F5F5F5;
    transition: all 1s ease;
    color: rgb(27, 117, 186);
    border: 1px ridge rgba(0, 0, 0, 0.7);
}
.butt:hover {
    background: #425994;
    transition: all 0.5s ease;
}
.button-two:hover {
    border-left: 1px solid rgba(255, 255, 255, .2);
}
.share {
    left: 5px;
}

.pencil {
    right: 5px;
}

.caption-block2 {
    font-size: 18px;
    font-family: "Ubuntu Bold", sans-serif;
    color: rgb(255, 255, 255);
}

/*пользователь*/
.user-profile .img-user {
    float: left;
    margin-right: 5px;
    /*background: url("../img/clip.png") no-repeat;*/
    position: relative;
}

.clip {
    position: absolute;
    top: 31px;
    left: -8px;
}

.clip-two {
    position: absolute;
    top: 25.5%;
    left: -4.9%;
    z-index: 99;
}
/***********************************/
/******* Read More****/
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

/************************************/

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Read More';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Read Less';
    text-decoration: underline;
}
.read-more-trigger {
    display: inline-block;
    font-size: .9em;
    line-height: 2;
}

/*****************************/
.user-descrip {
    font-size: 18px;
    font-family: "Pacifico", sans-serif;
    color: rgb(70, 69, 69);
    text-align: justify;
    float: right;
    width: 59%;
    /*width: 62%;*/

    vertical-align: middle;
    margin: 10px 21px 0 0;
    /*margin: 10px 16px 0 0;*/

}

.user-profile {
    padding: 24px 0px 8px 3px;
    border-bottom: 1px solid rgba(217, 54, 85, 0.3);
}

.user-profile .link {
    font-size: 12px;
    font-family: "Ubuntu", sans-serif;
    color: rgb(163, 172, 179);
    text-decoration: underline;
    cursor: pointer;
    font-weight: normal;
    margin: 5px 0 0 1px;
}

.user-profile .link:hover {
    color: rgb(183, 192, 179);
}

/*контент блок2*/
.img-pres {
    /*width: 100px;*/
    float: left;
    margin-right: 10px;
    /*position: relative;*/
}
.pres-desc{
    line-height: 1.5;
}

.content-wishlist {
    margin: 5px 0;
    border-top: 1px solid rgba(217, 54, 85, 0.3);
    border-bottom: 1px solid rgba(217, 54, 85, 0.3);
    height: 627px;
    padding-right: 10px;


}
.present-list {
    height: 550px;
    padding: 0 13px 60px 10px;


}

.content-wishlist p {
    margin: 0;
    text-align: left;
}

.bl-one {
    padding: 10px 5px;
    position: relative;
    cursor: pointer;
    margin: 3px 0 10px 0;
}

.img-tr {
    width: 80px;
    height: 80px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
}

.cap1 {
    font-size: 20px;
    font-family: "Pacifico", sans-serif;
    color: rgb(27, 117, 186);
}

.cap2 {
    font-size: 16px;
    font-family: "Ubuntu Bold", sans-serif;
    color: rgb(217, 54, 85);
}

.cap3 {
    font-size: 16px;
    font-family: "Ubuntu Bold", sans-serif;
    color: rgb(55, 55, 55);
}

/*********/
.logo-wishlist {
    margin: 220px 0 15px 0;
    opacity: 0.1;
}

.button-foot {
    border-radius: 0 0 3px 3px;
    background: url("../img/base-f.png");
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 22px 0;
    margin-top: 23px;
}

.block2-footer {
    border-top: 1px solid rgba(217, 54, 85, 0.3);
}

.save-share span {
    font-family: "Ubuntu", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    border: 1px ridge rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 3% 22%;
    cursor: pointer;
}

/*футер*/
.footer {
    background: url("../img/main-bg.jpg") repeat;
    text-align: center;
}

.logo-footer {
    margin-top: 50px;
}

.foot-images {
    margin-top: 21px;
}
.foot-images a{
    border-radius: 40px;
}
.foot-images a:hover{
    opacity: 0.5;
    transition: all 0.5s ease;
}
.foot-images .fa {
    color: #ffffff;
}
.foot-images .face {
    background: #3b5998;
    padding: 12px 17px;
    margin-right: 20px;
}
.foot-images .twitt {
    background: #1da1f2;
    padding: 12px;
}

.footer-menu {
    margin-top: 55px;
}
.footer-menu a {
    margin-left: 12px;
}

footer .description-last {
    font-family: "Signika", sans-serif;
    font-size: 15px;
    color: rgb(143, 143, 143);
    margin: 15px 0 25px 0;
    font-weight: normal;
}

/******************************************************************************/
.visibility {
    opacity: 0.9;
    background-color: white;
}

.selected {
    content: '';
    width: 100%;
    height: 100%;
    /* display: none; */
    position: absolute;
    opacity: 0.9;
    top: 3px;
    left: 3px;
    right: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 52% 0;
    color: rgb(27, 117, 186);
}

.fa-check-square-o {
    font-size: 28px;
    margin-bottom: 15px;
}
.selected .click {
    font-size: 16px;
    font-family: "Signika", sans-serif;
    /*text-align: center;*/
    margin: 0;
}

/*****************************/
.remove {
    content: '';
    display: none;
    opacity: 0.9;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(217, 54, 85);
    color: rgb(217, 54, 85);
    z-index: 1;
    border-radius: 3px;
    padding: 7% 2.5% 8% 10%;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    width: 99%;
    height: 90%;
}
.btn2 {
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid rgb(217, 54, 85);
}

.view-item {
    float: left;
    padding: 9px 12px;
    background: #ffffff;
}
.view-item:hover{
    background: rgb(217, 54, 85);
    /*background:#ECA7B4;*/
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: all 0.7s ease;
}

.view-item i {
    margin-right: 9px;
    vertical-align: bottom;
}

.more-options {
    float: right;
}

.fa-caret-down {
    vertical-align: bottom;
    margin-left: 11px;
}

.more-options div {
    padding: 9px 10px;
}

.material-icons {
    vertical-align: bottom;
    margin-right: 5px;
}

.remove ul {
    display: none;
    margin: 0;
    padding: 0;
}

.remove ul > li {
    border-top: 1px solid rgb(217, 54, 85);
    list-style-type: none;
    padding: 8px 4px;
    text-align: left;
}

.more-options:hover ul {
    display: block;
}

.remove ul > li:hover {
    background: rgb(217, 54, 85);
    color: #ffffff;
    transition: 1s;
}

#ascrail2000 {
    z-index: 2 !important;
}

@media screen and (max-width: 980px) {

    .chose-presents,
    .my-presents {
        float: none;
        margin: 40px auto;
    }

    .chose-presents {
        width: 70%;
    }

    .my-presents {
        min-width: 345px;
    }

    .buttons {
        margin-right: 20px;
    }

    .logo {
        margin-left: 20px;
    }

    .header-nav {
        display: none;
        z-index: 1;
        position: absolute;
        top: 135px;
        width: 100%;
        margin: 0;
        /*background: #dddddd;*/
        background: url("../img/Background-header.png");
        border-top: 1px solid rgb(27, 117, 186);
    }

    .header-nav li {
        margin: 0;
        float: none;
        width: 100%;
        border-bottom: 1px solid rgb(27, 117, 186);
    }

    .header-nav li a {
        padding: 10px 0;
        display: block;
        text-align: center;
        width: 100%;
        text-decoration: none;
        transition: 1s;

    }

    .header-nav li a:hover {
        background: rgb(27, 117, 186);
        color: #ffffff;
    }
    .header-nav .create{
        margin: 0;
    }

    #nav-toggle {
        display: block;
    }

    .header-menu {
        float: none;
    }

    .footer-menu a {
        font-size: 16px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 830px) {

    .block-p {
        margin: 1% 8.2%;
    }

    .block-p > p {
        width: 100%;
    }

}

@media screen and (max-width: 700px) {
    .block-p {
        float: none;
        margin: 30px auto;
        width: 40%;
    }

    .presents img {
        height: 100%;
    }

    .footer-menu nav {
        width: 100%;
    }

    .footer-menu nav a {
        margin: 0;
        display: block;
        width: 50%;
        float: left;
    }

    .logo img {
        width: 240px;
    }

    .logo {
        margin-top: 40px;
    }
}

@media screen and (max-width: 570px) {
    .block-p {
        width: 70%;
    }

    .logo {
        width: 10%;
    }

    .chose-presents {
        width: 90%;
    }

    .chose-presents .step {
        margin-left: 15%;
    }

    .search input {
        padding: 10px 15px;
        font-size: 16px;
    }

    .fa-search {
        font-size: 20px !important;
    }

}

@media screen and (max-width: 362px) {
    .chose-presents {
        width: 95%;
    }

    .my-presents {
        min-width: 300px;
    }

    .save-share span {
        padding: 5%;
    }

    .btn2 {
        width: 49%;
    }

    .remove {
        font-size: 10px;
    }

    .pres-desc p {
        font-size: 18px;
    }
    .user-descrip {
        width: 50%;
    }
}

@media screen and (max-width: 320px) {

    .chose-presents .step {
        margin-left: 10%;
    }

    .search input {
        padding: 10px 15px;
        font-size: 15px;
    }

}